.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "uno dos tres"
        "cuatro cinco seis";
    width: 90%;
    text-align: center;
    color: darkred;
    background-color: lightblue;
    font: 10px;
}

.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}


