
h1{
    text-align: center;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto ;
    grid-template-areas: 
        "uno dos tres"
        "cuatro cinco seis";
    width: 90%;
    text-align: center;

    color: darkred;
    background-color: white;
    font: 10px;
    gap: 10px; /* Espacio entre los elementos */
}

.uno, .dos, .tres, .cuatro, .cinco, .seis {
    border: 1px solid white; /* Línea blanca alrededor de cada recuadro */
    padding: 10px; /* Espacio interno */
    background-color: lightblue; /* Fondo de cada recuadro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}


