

table{
    width: 70%;
}
table tr.encabezado{
    background-color: rgb(0, 132, 255);
    color: white;
}

tr.encabezado1{
    background-color: orangered;
    color: white;
}

tr.primera td.primera_columna{
    background-color: rgb(253, 226, 104);
    color: aliceblue;
}

tr.segunda td.primera_columna{
    background-color: rgb(253, 226, 104);
    color: aliceblue;
}

tr.tercera td.primera_columna{
    background-color: rgb(253, 226, 104);
    color: aliceblue;
}

tbody{
    background-color: aliceblue;
    color: black;
}