
h1{
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    color:darkblue;
    border-top: solid darkblue;
    border-bottom: solid darkblue;
    text-align: center;
    background-color: white;
    margin: 20px auto;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: gainsboro;
    margin:20px;
    width: 75%;
}

#menu{
    background-color: lightcoral;
    border: solid darkred;
    box-shadow: 2px 2px 5px black;
    border-radius: 25px;
    color:blue;
    width: 25%;
}

nav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para los enlaces */
a:link, a:visited {
    color: white;
}

a:hover {
    color: yellow;
}
